<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <% if user_signed_in? %>
          <a class="navbar-default navbar-brand page-scroll header-text title" href="<%= mypage_path %>">KPTer</a>
        <% else %>
          <a class="navbar-default navbar-brand page-scroll header-text title" href="<%= root_path %>">KPTer</a>
        <% end %>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right in">
        <% unless user_signed_in? %>
          <li>
            <a class="page-scroll header-text" href="<%= url_for new_user_session_path %>"><span class="fa fa-sign-in fa-fw"></span>Login</a>
          </li>
        <% else %>
          <li>
            <a class="page-scroll header-text" href="/users/edit"><span class="fa fa-user fa-fw"></span>User Profile</a>
          </li>
          <li>
            <a class="page-scroll header-text" href="<%= url_for destroy_user_session_path %>"><span class="fa fa-sign-out fa-fw"></span>Logout</a>
          </li>
        <% end %>
    </ul>
  </div>
    <!-- /.navbar-top-links -->
    <% if user_signed_in? %>
      <% if controller.controller_name == "mypages" %>
        <%= render :partial => "side_column", :locals => { communities: @communities } %>
      <% elsif controller.controller_name == "communities" %>
        <%= render :partial => "side_column", :locals => { communities: @communities, new_community: @communities, current_community: @community } %>
      <% end %>
    <% end %>
</nav>
