<%= javascript_include_tag 'dataTablesSetting' %>
<%= javascript_include_tag 'tasksTable' %>

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-tasks">
  <thead>
    <tr>
      <th class="col-xs-8 col-ms-8 col-md-8 col-lg-8">Task</th>
      <% if visible_assignee %>
        <th class="col-xs-2 col-ms-2 col-md-2 col-lg-2">Assignee</th>
      <% end %>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">Deadline</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">Done</th>
    </tr>
  </thead>
  <tbody>
    <% t_cards.each.with_index(1) do |t_card, index| %>
      <% row_class = index.even? ? "even" : "odd" %>
      <tr class="gradeA <%= row_class %>">
        <td><%= t_card.title %></td>
        <% if visible_assignee == true %>
          <% if t_card.tcard_assignee.nil? %>
            <td></td>
          <% else %>
            <td><%= t_card.tcard_assignee.user.nickname %></td>
          <% end %>
        <% end %>
        <td><%= t_card.deadline %></td>
        <td align="center"><%= check_box_tag '', '', t_card.status.closed?, { 'data-id' => t_card.id, 'data-url' => url, :onclick=>"$.post($(this).data('url')+ '/tasks/' + $(this).data('id') + '/toggle/');" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-8">
    <div class="dataTables_info" role="status" aria-live="polite">
      <%= page_entries_info t_cards %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="dataTables_paginate paging_simple_numbers">
      <%= paginate @t_cards, :remote => true, :params => {:action => 'refresh_tasks'}%>
    </div>
  </div>
</div>
