<%= stylesheet_link_tag 'mdb/3.4.1/mdb', media: 'all' %>
<%= stylesheet_link_tag 'mdb_style', media: 'all' %>

<div class="panel-heading">
  <h4 class="text-center">
    <%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %>
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card-panel">
        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="input-field col">
            <%= f.email_field :email, class: "validate", autofocus: true, required: true %>
            <%= f.label :email %>
          </div>
          <%= button_tag t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: 'btn btn-primary waves-effect waves-light' %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'mdb/3.4.1/mdb' %>
<%= javascript_include_tag 'mdb_style' %>
