<%= stylesheet_link_tag 'mdb/3.4.1/mdb', media: 'all' %>
<%= stylesheet_link_tag 'mdb_style', media: 'all' %>

<div class="panel-heading">
  <h4 class="text-center">
    <%= t('.sign_in', :default => "Sign in") %>
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card-panel">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="input-field col">
            <%= f.email_field :email, class: "validate", required: true %>
            <%= f.label :email %>
          </div>
          <div class="input-field col">
            <%= f.password_field :password, autocomplete: "off", class: "validate", required: true %>
            <%= f.label :password %>
          </div>
          <% if devise_mapping.rememberable? && !Kpter::Application.config.remember_me_enable_by_default %>
            <div class="checkbox rkmd-checkbox checkbox-rotate checkbox-ripple">
              <label class="input-checkbox checkbox-lightBlue">
                <%= f.check_box :remember_me %>
                <span class="checkbox"></span>
              </label>
              <label for="user_remember_me" class="label"><%= t('.remember_me', :default => "Remember me") %></label>
            </div>
          <% end %>
          <%= button_tag t('.sign_in', :default => "Sign in"), class: 'btn btn-primary waves-effect waves-light' %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'mdb/3.4.1/mdb' %>
<%= javascript_include_tag 'mdb_style' %>
