<!DOCTYPE html>
<html>
<head>
  <title>Kpter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'shared/messages'%>
    <%= render :partial => "header" %>
    <%= yield %>
  </div>
  <!-- /#wrapper -->
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
