<%= stylesheet_link_tag 'mdb/3.4.1/mdb', media: 'all' %>
<%= stylesheet_link_tag 'mdb_style', media: 'all' %>

<div class="panel-heading">
  <h4 class="text-center">
    <%= t('.forgot_your_password', :default => 'Forgot your password?') %>
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card-panel">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group form-group-field">
            <div class="input-field col">
              <%= f.email_field :email, autofocus: true, class: "form-control validate", required: true, maxlength: 128 %>
              <%= f.label :email, class: "required", data: {error: 'wrong'} %>
            </div>
          </div>
          <%= button_tag t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: 'btn btn-primary waves-effect waves-light' %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'mdb/3.4.1/mdb' %>
<%= javascript_include_tag 'mdb_style' %>
