<%= stylesheet_link_tag 'mdb/3.4.1/mdb', media: 'all' %>
<%= stylesheet_link_tag 'mdb_style', media: 'all' %>
<%= stylesheet_link_tag 'confirm', media: 'all'%>

<div class="panel panel-default devise-bs">
  <div class="panel-body">
    <div class="text-center">
      <h1>Completed send authenticate mail</h1>
      <p class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Registration is not completed yet.</p>
      <p class="lead">Please access the URL described in the mail and perform the registration completion procedure.</p>
      <ol class="steps">
        <li>
          <%= image_tag("confirm_step_1.png") %><br>
          <strong>Step 1:</strong> Check your mail.
        </li>
        <li>
          <%= image_tag("confirm_step_2.png") %><br>
          <strong>Step 2:</strong> Click on link, please.
        </li>
        <li>
          <%= image_tag("confirm_step_3.png") %><br>
          <strong>Step 3:</strong> Completed regist.
        </li>
      </ol>

      <div class="mail">
        <% if @email.end_with?("@gmail.com") %>
          <a href="https://mail.google.com/mail/" target="_blank" class="btn btn-outline btn-default btn-lg btn-outline-override" role="button">Check Gmail</a>
        <% elsif @email.end_with?("@yahoo.co.jp") %>
          <a href="https://mail.yahoo.co.jp" target="_blank" class="btn btn-outline btn-default btn-lg btn-outline-override" role="button">Check Yahoo! Mail</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'mdb/3.4.1/mdb' %>
