<% content_for :head_title do %>
  Reset Password
<% end %>
<div class="kpter-form-middle mdl-cell mdl-grid mdl-grid--no-spacing">
  <div class="mdl-typography--display-1-color-contrast"><%= t('.forgot_your_password', default: 'Forgot your password?') %></div>
  <%= render partial: "devise/shared/error_messages", locals: {object: resource} %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, class: "mdl-textfield__input", maxlength: 255, required: true %>
      <%= f.label :email, class: "mdl-textfield__label" %>
      <span class="mdl-textfield__error">Invalid email</span>
    </div>
    <%= button_tag t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "mdl-button mdl-button--colored mdl-js-button float-right mdl-js-ripple-effect" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
