<% content_for :head_title do %>
  KPTER
<% end %>

<% content_for :header do %>
  <div class="banner banner-full-height overlay-black kpter-header">
    <div class="container text-center">
      <h1>Go for the Best Team</h1>
      <h5>Empower your team and build trust, with <strong>KPTER</strong></h5>
      <br><br><br>
      <p><%= link_to "Get Started - It's Free", new_user_registration_path, class: 'btn btn-white btn-lg btn-outline' %></p>
    </div>
  </div>
<% end %>
<section class="no-border-bottom">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-image">
        <img src="http://via.placeholder.com/450x275" alt="img">
      </div>
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Online KPT</h2>
          <p>You can find our code well organized, commented and readable. It uses minimal coding to reduce the size of template. Apart from that, you've access to SCSS and Grunt files to make your desire changes easily.</p>
        </header>
      </div>
    </div>
  </div>
</section>
<section class="no-border-bottom bg-gray-lighter">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Task Management</h2>
          <p>Your template works on any device: desktop, tablet or mobile. It'll adjust the size and position of components based on the screen size of user.</p>
        </header>
      </div>
      <div class="col-sm-6 feature-image">
        <img src="http://via.placeholder.com/450x275" alt="img">
      </div>
    </div>
  </div>
</section>
<section class="no-border-bottom">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-image">
        <img class="img-bordered" src="http://via.placeholder.com/450x275" alt="img">
      </div>
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Reduce Costs</h2>
          <p>No more scribbled paper notes stuck all over your monitor, desk or fridge. All your notes are in one place online.</p>
        </header>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="text-center hero"><%= link_to "GET STARTED - IT'S FREE", new_user_registration_path %></p>
  </div>
</section>
<section class="no-border-bottom text-center">
  <div class="container">
    <%= image_tag("app_icon.png", alt: "KPTER App", class: "kpter-app-logo") %>
    <header class="section-header">
      <h2>Mobile</h2>
      <p>On Your iPhone.</p>
      <div class="app">
        <a href="//itunes.apple.com/jp/app/kpter/id1118192741?mt=8" ontouchstart="" target="_blank">
          <%= image_tag("app_store_badge-us-uk.svg", alt: "App Store") %>
        </a>
      </div>
      <div class="app-notice">
        <small class="text-gray">
          Notice</br>
          It's a stand-alone application.</br>
          We are under improving the app to synchronize with the web.
        </small>
      </div>
      <div class="app">
        <%= link_to("For more information...", sp_path, class: "btn btn-default") %>
      </div>
    </header>
  </div>
</section>
