<div class="modal__overlay" tabindex="-1" data-micromodal-close>
  <div class="modal__container mdl-shadow--8dp" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
    <header class="modal__header">
      <h2 class="modal__title" id="modal-1-title">
        Edit Task
      </h2>
      <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>
    <main class="modal__content" id="modal-1-content">
      <% if task %>
        <%= form_for(task, html: {id: 'form_edit_task', data: { remote: true }} ) do |f| %>
          <% if !chaindata.nil? %>
            <% chaindata.each do |k, v| %>
              <input type="hidden" name="chaindata[<%= k %>]" value="<%= v %>">
            <% end %>
          <% end %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.text_area :title, class: "mdl-textfield__input", rows: 3, maxlength: 255, required: true %>
            <%= f.label :title, class: "mdl-textfield__label" %>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.text_field :deadline, class: "mdl-textfield__input", id: "datepicker", maxlength: 10 %>
            <%= f.label :deadline, class: "mdl-textfield__label" %>
          </div>

          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
            <select class="mdl-selectfield__select" id="t_card_assignee" name="tcard_assignee[user_id]">
              <option value=""></option>
              <% community_users.each do | cu | %>
                <option value="<%= cu.user.id %>" <% if cu.user.id == task.user.try(:id) %>selected<% end%>><%= cu.user.nickname %></option>
              <% end %>
            </select>
            <%= f.label :assignee, class: "mdl-selectfield__label" %>
          </div>
          <div class="mdl-dialog__actions">
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Update</button>
          </div>
        <% end %>
      <% end %>
    </main>
  </div>
 </div>
