<div id="t_cards-table">
  <table class="mdl-data-table mdl-shadow--2dp kpter-table" id="t_cards-table-data" data-visible_assignee="<%= visible_assignee %>" data-url="<%= url %>" data-callback="<%= callback %>">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric kpter-table-header-title" colspan="2">Tasks</th>
        <th colspan="<% if visible_assignee %>2<% else %>1<% end %>">
          <%= link_to "open", { action: "refresh_tasks", method: :get, status: TCard.status.open, remote: true }, { id: "open-btn", class: "mdl-color-text--primary kpter-task-open-closed"} %>
          <%= link_to "close", { action: "refresh_tasks", method: :get, status: TCard.status.closed, remote: true }, { id: "close-btn", class: "kpter-task-open-closed" } %>
        </th>
      </tr>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Done</th>
        <th class="mdl-data-table__cell--non-numeric">Task</th>
        <% if visible_assignee %>
          <th class="mdl-data-table__cell--non-numeric">Assignee</th>
        <% end %>
        <th class="mdl-data-table__cell--non-numeric">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% t_cards.each.with_index(1) do |t_card, index| %>
        <tr id="t_card-tr-<%= t_card.id %>" data-href="<%= edit_t_card_path(t_card) %>" data-method="GET" data-url="<%= url %>">
          <%= render :partial => 't_cards/t_card.html', :locals => {t_card: t_card, visible_assignee: visible_assignee, url: url, callback: callback}%>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="mdl-data-table__cell--non-numeric" colspan="<% if visible_assignee %>4<% else %>3<% end %>">
          <div class="mdl-paging">
            <%= page_entries_info @t_cards %>
            <%= paginate @t_cards, remote: true, params: {:action => 'refresh_tasks'}%>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
