<% content_for :head_title do %>
  <%= t('confirm.title', default: 'Thank you!') %>
<% end %>
<div class="kpter-content mdl-cell mdl-cell--12-col">
  <div class="mdl-typography--text-center">
    <div class="kpter-content-head mdl-typography--display-1-color-contrast"><%= t('confirm.head') %></div>
    <div class="kpter-content-subhead">
      <div class="mdl-typography--subhead"><%= t('confirm.subhead1') %></div>
      <div class="mdl-typography--subhead"><%= t('confirm.subhead2') %></div>
    </div>
    <ul class="kpter-steps">
      <li>
        <%= image_tag("confirm_step_1.png") %><br>
        <%= t('confirm.step1_html') %>
      </li>
      <li>
        <%= image_tag("confirm_step_2.png") %><br>
        <%= t('confirm.step2_html') %>
      </li>
      <li>
        <%= image_tag("confirm_step_3.png") %><br>
        <%= t('confirm.step3_html') %>
      </li>
    </ul>
    <div class="kpter-mail">
      <% if @email.end_with?("@gmail.com") %>
        <a href="https://mail.google.com/mail/" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" role="button"><%= t('confirm.check_mail', {mailer: 'Gmail'} ) %></a>
      <% elsif @email.end_with?("@yahoo.co.jp") %>
        <a href="https://mail.yahoo.co.jp" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" role="button"><%= t('confirm.check_mail', {mailer: 'Yahoo! Mail'} ) %></a>
      <% end %>
    </div>
  </div>
</div>
