<div style="background-color: snow;">
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <%= stylesheet_link_tag  'boards/defaut', media: 'all' %>
  <%= stylesheet_link_tag  'boards/component', media: 'all' %>
  <%= stylesheet_link_tag  'boards/style', media: 'all' %>
  <%= javascript_include_tag 'boards/card' %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <p>
  boards#show
  </p>

  <p>
  Board Name: <%= @board.name %>
  </p>
  <button class="btn btn-6 btn-6a" data-type="keep">Keep</button>
  <button class="btn btn-6 btn-6a" data-type="problem">Problem</button>
  <button class="btn btn-6 btn-6a" data-type="try">Try</button>
  <div id="boardWrap" class="wrap"></div>
  <p id="trashCan" style="display: block;"><%= image_tag("trashCan.png", :class => "trashCanImg") %></p>

</div>
