<div class="kpter-card-event mdl-card mdl-shadow--2dp try cardBox" id="t_<%= tcard.id %>"　data-type="try">
  <div class="mdl-card__title mdl-card--expand">
    <p class='card-text' style='height: 130px!important;'><%= tcard.title %></p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">account_circle</i>
    <button id="t_<%= tcard.id %>-datepicker" class='mdl-button mdl-js-button mdl-button--icon' data-id='<%= tcard.id %>' data-type='try'>
      <i class='material-icons' id='datepicker'>event</i>
    </button>
    <input type='hidden' id="t_<%= tcard.id %>-datepicker-field"/>
    <button id="t_<%= tcard.id %>-like" class='mdl-button mdl-js-button mdl-button--icon' data-id="<%= tcard.id %>" data-type="try">
      <i class='material-icons'>thumb_up</i>
    </button>&nbsp
    <span class='' style='vertical-align:text-bottom; font-size: 11px;'><%= display_num %></span>
  </div>
  <div class='mdl-card__menu'>
    <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect icon-white delete-btn'>
      <i class='material-icons md-14'>close</i>
    </button>
  </div>
</div>
