<header class="mdl-layout__header kpter-header">
  <div class="mdl-layout__header-row">
    <% if user_signed_in? %>
      <%= link_to "KPTER", mypage_path, class: "mdl-mdl-layout-title kpter-logo mdl-color-text--primary" %>
    <% else %>
      <%= link_to "KPTER", root_path, class: "mdl-mdl-layout-title kpter-logo mdl-color-text--primary" %>
    <% end %>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
      <% unless user_signed_in? %>
        <li class="mdl-menu__item">
          <%= link_to "Login", new_user_session_path, class: "kpter-menu-link" %>
        </li>
      <% else %>
        <li class="mdl-menu__item">
          <%= link_to "Settings", edit_user_registration_path, class: "kpter-menu-link" %>
        </li>
        <li class="mdl-menu__item">
          <%= link_to "Logout", destroy_user_session_path, class: "kpter-menu-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
