<header class="mdl-layout__header kpter-header">
  <div class="mdl-layout__header-row kpter-menu">
    <% if user_signed_in? %>
      <%= link_to "KPTER", mypage_path, class: "mdl-layout-title kpter-logo-header mdl-color-text--primary" %>
    <% else %>
      <%= link_to "KPTER", root_path, class: "mdl-layout-title kpter-logo-header mdl-color-text--primary" %>
    <% end %>
    <div class="mdl-layout-spacer"></div>
    <% if user_signed_in? %>
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">
          <%= link_to "Settings", edit_user_registration_path, class: "kpter-menu-link" %>
        </li>
        <li class="mdl-menu__item">
          <%= link_to t('.sign_out', :default => "Sign out"), destroy_user_session_path, class: "kpter-menu-link" %>
        </li>
      </ul>
    <% else %>
      <nav class="mdl-navigation">
        <%= link_to t('.sign_in', :default => "Sign in"), new_user_session_path, class: "mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" %>
        <%= link_to t('.sign_up', :default => "Sign up"), new_user_registration_path, class: "mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" %>
      </nav>
    <% end %>
  </div>
</header>
