<div class="kpter-drawer mdl-layout__drawer">
  <% if user_signed_in? %>
    <%= link_to "KPTER", mypage_path, class: "mdl-layout-title kpter-logo mdl-color-text--primary" %>
  <% else %>
    <%= link_to "KPTER", root_path, class: "mdl-layout-title kpter-logo mdl-color-text--primary" %>
  <% end %>
  <nav class="mdl-navigation">
    <%= link_to mypage_path, class: "mdl-navigation__link" do %>
      <span class="<% if request.path_info == mypage_path %>mdl-color-text--primary-dark<% end %>"><%= t('mypage.title') %></span>
    <% end %>
    <div class="kpter-drawer-separator"></div>
    <div class="kpter-nav-action">
      <a href class="dialog-button-new-community" onclick="visibleForm('community-form-container', 'create-community-name'); return false;">
        <i class="material-icons md-18">add</i><span><%= t('mypage.add_community') %></span>
      </a>
    </div>
    <div class="kpter-nav-action kpter-nav-form-content" id="community-form-container" style="display:none;">
      <%= form_for communities_path, url: { controller: "/communities", action: "create" } do |f| %>
        <input type="text" name="name" class="kpter-nav-form-input" id="create-community-name" maxlength="32" required="required" >
        <div class="kpter-nav-form-action">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent kpter-nav-form-button mdl-js-ripple-effect">
            <%= t('actions.add', default: 'Add') %>
          </button>
          <button class="mdl-button mdl-js-button kpter-nav-form-button kpter-close-button-text-color mdl-js-ripple-effect" onclick="hiddenForm('community-form-container', 'create-community-name');return false;">
            <%= t('actions.cancel', default: 'Cancel') %>
          </button>
        </div>
      <% end %>
    </div>
    <% communities.each do |cu| %>
      <%= link_to community_path(cu.community), class: "mdl-navigation__link" do %>
        <span class="kpter-drawer-community-name <% if cu.status.inviting? %>kpter-drawer-inviting-text<% end %> <% if current_community == cu.community %>mdl-color-text--primary-dark js-current-community-name<% end %>"><%= cu.community.name %></span>
        <% if cu.status.inviting? %>
          <span class="kpter-drawer-circle"></span>
        <% else %>
          <span class="kpter-drawer-task-count"><%= t_cards_count(cu.community) %></span>
        <% end %>
      <% end %>
    <% end %>
  </nav>
</div>
