<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="kpter-sub-heading">
      <div class="kpter-sub-title">
        <div class="mdl-typography--body-2-color-contrast js-current-community-name"><%= @community.name %></div>
      </div>
      <div class="kpter-settings">
        <%= link_to community_path + '/members', {:remote => true, class: "mdl-button mdl-js-button mdl-button--icon"} do %>
          <i class="material-icons md-18">person</i>
        <% end %>
        <button id="settings" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons md-18">settings</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect kpter-menu" for="settings">
          <li class="mdl-menu__item">
            <%= link_to community_path + '/invitable_users', {:remote => true, class: "kpter-menu-link dialog-button-invitable-users"} do %>Invite<% end %>
          </li>
          <li class="mdl-menu__item"><a href="#" class="dialog-button-edit">Edit</a></li>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="#" class="dialog-button-leave">Leave</a></li>
          <li class="mdl-menu__item"><a href="#" class="dialog-button-delete">Delete</a></li>
        </ul>
      </div>
    </div>
    <%= render :partial => "t_cards/t_card_table", :locals => { t_cards: @t_cards, visible_assignee: true, url: @community.id, status: @status, callback: "chartTopOfAsignee" } %>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone">
    <canvas id="topOfAsignee" width="400" height="400"></canvas>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div id="board-list">
        <table class="mdl-data-table mdl-shadow--2dp kpter-table" id="board-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric kpter-table-header-title">Board</th>
              <th>
              <button class="mdl-button mdl-js-button mdl-button--icon dialog-button-new-board">
                <i class="material-icons">add</i>
              </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => 'boards', :locals => {boards: @boards, community: @community} %>
          </tbody>
          <% if @boards.empty? %>
            <tfoot>
              <tr>
                <td class="mdl-data-table__cell--non-numeric" colspan="2">
                  <div class="mdl-paging">
                    No boards
                  </div>
                </td>
              </tr>
            </tfoot>
          <% end %>
        </table>
      </div>
      <div class="view-more mdl-typography--body-1-color-contrast">
        <%= link_to_next_page(@boards, 'View more', remote: true, id: 'view-more', class: 'mdl-button mdl-js-button mdl-button--raised') %>
      </div>
  </div>
</div>

<!-- invite others -->
<dialog id="invitable-users-dialog" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'invitable_users', :locals => {invitable_users: @invitable_users, community: @community} %>
</dialog>

<!-- leave -->
<dialog id="dialog-button-leave" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'leave', :locals => {current_community: @community} %>
</dialog>

<!-- delete -->
<dialog id="dialog-button-delete" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'delete', :locals => {current_community: @community} %>
</dialog>

<!-- edit -->
<dialog id="dialog-button-edit" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'edit', :locals => {current_community: @community} %>
</dialog>

<!-- member list -->
<div class="modal micromodal-slide" id="modal-button-member" aria-hidden="true">
  <%= render :partial => 'members', :locals => {current_community: @community, members: @members} %>
</div>

<!-- task -->
<div class="modal modal__kptercard micromodal-slide" id="modal-button-edit-task" aria-hidden="true">
  <%= render :partial => 't_cards/modal_edit', :locals => {task: @task, community_users: @community_users} %>
</div>

<!-- new board -->
<dialog id="dialog-button-new-board" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'new_board', :locals => {current_community: @community}%>
</dialog>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'communities' %>
  <script>
    <% if @top_of_assignees.empty? %>
      var labels = []
      var data = []
    <% else %>
      var labels = [<% @top_of_assignees[:top_of_assignees].each do |v| %>"<%= v[:name] %>",<% end %>]
      var data = [<% @top_of_assignees[:top_of_assignees].each do |v| %>"<%= v[:count] %>",<% end %>]
    <% end %>
    var datas = {
      "labels": labels,
      "data": data
    }
    chartTopOfAsignee(datas);
  </script>
<% end %>
