<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <div class="kpter-sub-heading">
      <div class="kpter-sub-title">
        <div class="mdl-typography--body-2-color-contrast"><%= @community.name %></div>
      </div>
      <div class="kpter-settings">
        <%= link_to community_path(@community) + '/invitable_users', {:remote => true, class: "mdl-button mdl-js-button mdl-button--icon dialog-button-invitable-users"} do %>
          <i class="material-icons md-18">person_add</i>
        <% end %>
        <button id="settings" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons md-18">settings</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="settings">
          <li class="mdl-menu__item">Edit</li>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Leave</li>
          <li class="mdl-menu__item">Delete</li>
        </ul>
      </div>
    </div>
    <%= render :partial => "tasks", :locals => { t_cards: @t_cards, visible_assignee: true, url: @community.id, status: @status, chartDoughnut: true } %>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
    <canvas id="topOfAsignee" width="400" height="400"></canvas>
    <script>
      <% if @top_of_assignees.empty? %>
        var labels = []
        var data = []
      <% else %>
        var labels = [<% @top_of_assignees.each do |key, value| %>"<%= key %>",<% end %>]
        var data = [<% @top_of_assignees.each do |key, value| %>"<%= value %>",<% end %>]
      <% end %>
      chartDoughnut("topOfAsignee", "Are your tasks well-balanced?", labels, data);
    </script>
  </div>
</div>

<%= render :partial => 'invitable_users', :locals => {invitable_users: @invitable_users, community: @community} %>
