<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <div class="kpter-sub-heading">
      <div class="kpter-sub-title">
        <div class="mdl-typography--body-2-color-contrast"><%= @community.name %></div>
      </div>
      <div class="kpter-settings">
        <%= link_to community_path(@community) + '/invitable_users', {:remote => true, class: "mdl-button mdl-js-button mdl-button--icon"} do %>
          <i class="material-icons md-18">person</i>
        <% end %>
        <button id="settings" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons md-18">settings</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect kpter-menu" for="settings">
          <li class="mdl-menu__item">
            <%= link_to community_path(@community) + '/invitable_users', {:remote => true, class: "kpter-menu-link dialog-button-invitable-users"} do %>Invite<% end %>
          </li>
          <li class="mdl-menu__item"><a href="#">Edit</a></li>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="#" class="dialog-button-leave">Leave</a></li>
          <li class="mdl-menu__item"><a href="#" class="dialog-button-delete">Delete</a></li>
        </ul>
      </div>
    </div>
    <%= render :partial => "tasks", :locals => { t_cards: @t_cards, visible_assignee: true, url: @community.id, status: @status, chartDoughnut: true } %>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
    <canvas id="topOfAsignee" width="400" height="400"></canvas>
    <script>
      <% if @top_of_assignees.empty? %>
        var labels = []
        var data = []
      <% else %>
        var labels = [<% @top_of_assignees.each do |key, value| %>"<%= key %>",<% end %>]
        var data = [<% @top_of_assignees.each do |key, value| %>"<%= value %>",<% end %>]
      <% end %>
      chartDoughnut("topOfAsignee", "Are your tasks well-balanced?", labels, data);
    </script>
  </div>
</div>

<!-- invite others -->
<dialog id="invitable-users-dialog" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'invitable_users', :locals => {invitable_users: @invitable_users, community: @community} %>
</dialog>

<!-- leave -->
<dialog id="dialog-button-leave" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'leave', :locals => {current_community: @community} %>
</dialog>

<!-- delete -->
<dialog id="dialog-button-delete" class="mdl-dialog kpter-dialog-full-screen">
  <%= render :partial => 'delete', :locals => {current_community: @community} %>
</dialog>
