<div class="mdl-dialog__content kpter-dialog-content2">
  <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect close">
    <i class="material-icons">close</i>
    <span class="esc">esc</span>
  </button>
  <h4><%= t('community.leave.title', {community_name: current_community.name}) %></h4>
  <%= form_tag("/communities/#{current_community.id}/leave", :method => :post) do |f| %>
    <div class="mdl-typography--body-1-color-contrast">
      <%= t('community.leave.body_html', {community_name: current_community.name}) %>
    </div>
    <ul class="notice">
      <li><%= t('community.leave.notice') %></li>
    </ul>
    <button class="mdl-button mdl-js-button mdl-button--accent float-right mdl-js-ripple-effect"><%= t('community.leave.i_will') %></button>
  <% end %>
</div>
