<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="<%= url_for :controller => :mypages, :action => :show %>"><i class="fa fa-user fa-fw"></i> Mypage</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-comments fa-fw"></i> Communities<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="navi-communities">
                  <% communities.each do |community| %>
                    <li>
                        <a href="<%= url_for :controller => :communities, :action => :show, :id => community.id %>"><i class="fa fa-comment fa-fw"></i><%= community.name %></a>
                    </li>
                  <% end %>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class="sidebar-search">
              <%= form_tag("/communities/#{current_community.id}/boards", :method => :post) do |f| %>
                <div class="input-group">
                  <%= text_field :board, :name, class: "form-control", placeholder: "Board Name" %>
                  <span class="input-group-btn">
                  <%= submit_tag "Create", class: "btn btn-primary" %>
                </span>
                </div>
              <% end %>
                <!-- /input-group -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
