<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @community.name %></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-columns fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <div class="huge"><%= @all_boards.length %></div>
                            <div>Boards</div>
                        </div>
                    </div>
                </div>
                <a href="#boards">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @all_tcards.length %></div>
                            <div>Open Tasks</div>
                        </div>
                    </div>
                </div>
                <a href="#tasks">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @attendees.length %></div>
                            <div>Attendees</div>
                        </div>
                    </div>
                </div>
                <a href="#attendees">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12" id="boards">
        <!-- /.board-list -->
        <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-columns fa-fw"></i> Boards
          </div>
          <div class="panel-body">
              <div class="list-group">
                <div id="board-list">
                  <%= render :partial => 'boards', :locals => {boards: @boards, community: @community} %>
                </div>
              </div>
              <%= link_to_next_page @boards, 'View more', :remote => true, :id => :'view-more', class: 'btn btn-default btn-block' %>
          </div>
        </div>
      </div>
      <div class="col-lg-12" id="tasks">
        <!-- /.tasks-list -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-check-square-o fa-fw"></i> Tasks
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTables_filter">
              <div class="btn-group" role="group" aria-label="..." style="display:inline-flex">
                <%= link_to "Open", { action: "refresh_tasks", method: :get, status: TCard.status.open, remote: true }, { class: "btn btn-primary", id: "open-btn" } %>
                <%= link_to "Close", { action: "refresh_tasks", method: :get, status: TCard.status.closed, remote: true }, { class: "btn btn-default", id: "close-btn" } %>
              </div>
            </div>
            <div id="t_cards-table">
              <%= render :partial => "tasks", :locals => { t_cards: @t_cards, url: @community.id } %>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <div class="col-lg-12" id="attendees">
        <%= render :partial => "attendees", :locals => { attendees: @attendees } %>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->
