<!DOCTYPE html>
<html>
<head>
  <%= render partial: "google_tag_manager_in_head" %>
  <title><%= yield :head_title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag  'mdl/1.3.0/material.kpter-pink.min', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag  'boards/default', media: 'all' %>
  <%= stylesheet_link_tag  'boards/component', media: 'all' %>
  <%= stylesheet_link_tag  'boards/style', media: 'all' %>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
  <%= javascript_tag do %>
    window.kp_cards = <%= raw @board.kp_cards.to_json(include: :likes) %>;
    window.t_cards = <%= raw @board.t_cards.to_json(include: :likes) %>;
    window.current_user = <%= raw current_user.to_json %>;
  <% end %>
  <%= javascript_include_tag 'cable' %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "google_tag_manager_in_body" %>
  <div id="wrapper">
    <%= render :partial => "header" %>
    <%= yield %>
  </div>
  <!-- /#wrapper -->
  <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag 'cable' %>
  <%= javascript_include_tag 'boards/cards' %>
</body>
</html>
