<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "google_tag_manager_in_head" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="robots" content="noodp" />
    <title><%= yield :head_title %></title>
    <meta name="description" content="<%= yield :meta_description %>" />
    <%= stylesheet_link_tag 'theDocs/1.4.0/theDocs.all', media: 'all' %>
    <%= stylesheet_link_tag 'welcome/welcome', media: 'all' %>
    <%= stylesheet_link_tag 'style', media: 'all' %>
    <% # append extra stylesheet tags %>
    <%= yield :extra_stylesheet %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <%= render partial: "google_tag_manager_in_body" %>
    <header class="site-header sticky navbar-transparent navbar-sm">
      <nav class="navbar navbar-default navbar-light">
        <div class="container">
          <div class="navbar-header" style="float: left;">
            <%= link_to 'KPTER', root_path, class: "kpter-logo" %>
          </div>
          <div id="navbar" class="navbar-collapse" aria-expanded="true" role="banner">
            <ul class="nav navbar-nav navbar-right" style="float: right !important;">
              <li style="float: left;"><%= link_to t('.sign_in', :default => "Sign in"), new_user_session_path %></li>
              <li class="hero" style="float: left;"><%= link_to t('.sign_up', :default => "Sign up"), new_user_registration_path %></li>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield :header %>
    </header>
    <aside class="col-md-3 sidebar">
      <ul class="sidenav">
        <li class="section">
          <ul>
            <li class="item"><%= link_to t('.sign_in', :default => "Sign in"), new_user_session_path %></li>
            <li class="item"><%= link_to t('.sign_up', :default => "Sign up"), new_user_registration_path %></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main>
      <%= yield %>
    </main>
    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>&copy; <%= Time.now.year %> KPTER</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
              <li><%= link_to t('terms.label', default: "Terms"), terms_path %></li>
              <li><%= link_to t('privacy_policy.label', default: "Privacy Policy"), privacy_path %></li>
              <li><%= link_to t('contact.label', default: "Contact"), "https://form.run/@kpter-contact" %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'theDocs/1.4.0/theDocs.all' %>
    <% # append extra js tags %>
    <%= yield :extra_js %>
  </body>
</html>
